@import "tailwindcss";

@theme {
    --color-primary-a0: hsl(255, 93%, 76%);
    --color-primary-a10: hsl(255, 93%, 78%);
    --color-primary-a20: hsl(255, 93%, 82%);
    --color-primary-a30: hsl(255, 93%, 86%);
    --color-primary-a40: hsl(255, 93%, 90%);
    --color-primary-a50: hsl(255, 93%, 95%); 

    --color-surface-a0: hsl(280, 30%, 93%);
    --color-surface-a10: hsl(280, 40%, 97%);
    --color-surface-a20: hsl(0, 0%, 100%);

    --color-border-a0: hsl(220, 15%, 85%);
    --color-border-a10: hsl(220, 15%, 80%);
    --color-border-a20: hsl(220, 15%, 75%);

    --color-error: hsl(0 91% 82%);

    --color-primary: hsl(220, 15%, 15%);
    --color-secondary: hsl(220, 15%, 40%);
    --color-tertiary: hsl(220, 15%, 60%);
}

