@import "tailwindcss";

@theme {
  --background: #f8f3fa;
  --foreground: #364050;
  --card: #ffffff;
  --card-foreground: #364050;
  --popover: #ffffff;
  --popover-foreground: #364050;
  --primary: #a78bfb;
  --primary-foreground: #ffffff;
  --secondary: #e9d9fc;
  --secondary-foreground: #4b5666;
  --muted: #f4eaff;
  --muted-foreground: #6c727e;
  --accent: #f5e5f7;
  --accent-foreground: #364050;
  --destructive: #fba7a7;
  --border: #e9d9fc;
  --input: #e9d9fc;
  --ring: #a78bfb;
  --chart-1: #a78bfb;
  --chart-2: #8c5df8;
  --chart-3: #7c38ee;
  --chart-4: #6d29d8;
  --chart-5: #5a20b5;
  --sidebar: #e9d9fc;
  --sidebar-foreground: #364050;
  --sidebar-primary: #a78bfb;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #f5e5f7;
  --sidebar-accent-foreground: #364050;
  --sidebar-border: #e9d9fc;
  --sidebar-ring: #a78bfb;

  --font-sans: Open Sans, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: IBM Plex Mono, monospace;

  --radius: 1.5rem;
  
  --shadow-2xs: 0px 8px 16px -4px rgb(0 0 0 / 0.04);
  --shadow-xs: 0px 8px 16px -4px rgb(0 0 0 / 0.04);
  --shadow-sm: 0px 8px 16px -4px rgb(0 0 0 / 0.08), 0px 1px 2px -5px rgb(0 0 0 / 0.08);
  --shadow: 0px 8px 16px -4px rgb(0 0 0 / 0.08), 0px 1px 2px -5px rgb(0 0 0 / 0.08);
  --shadow-md: 0px 8px 16px -4px rgb(0 0 0 / 0.08), 0px 2px 4px -5px rgb(0 0 0 / 0.08);
  --shadow-lg: 0px 8px 16px -4px rgb(0 0 0 / 0.08), 0px 4px 6px -5px rgb(0 0 0 / 0.08);
  --shadow-xl: 0px 8px 16px -4px rgb(0 0 0 / 0.08), 0px 8px 10px -5px rgb(0 0 0 / 0.08);
  --shadow-2xl: 0px 8px 16px -4px rgb(0 0 0 / 0.20);
  
}

.dark {
  --background: #1e1916;
  --foreground: #e1e7fd;
  --card: #2d2535;
  --card-foreground: #e1e7fd;
  --popover: #2d2535;
  --popover-foreground: #e1e7fd;
  --primary: #c1aaff;
  --primary-foreground: #1e1916;
  --secondary: #3e3248;
  --secondary-foreground: #d0d4db;
  --muted: #2d2535;
  --muted-foreground: #9ba2ae;
  --accent: #4b3e5b;
  --accent-foreground: #d0d4db;
  --destructive: #fba7a7;
  --border: #3e3248;
  --input: #3e3248;
  --ring: #c1aaff;
  --chart-1: #c1aaff;
  --chart-2: #a78bfb;
  --chart-3: #8c5df8;
  --chart-4: #7c38ee;
  --chart-5: #6d29d8;
  --sidebar: #3e3248;
  --sidebar-foreground: #e1e7fd;
  --sidebar-primary: #c1aaff;
  --sidebar-primary-foreground: #1e1916;
  --sidebar-accent: #4b3e5b;
  --sidebar-accent-foreground: #d0d4db;
  --sidebar-border: #3e3248;
  --sidebar-ring: #c1aaff;
  
  --shadow-2xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 1px 2px -1px rgb(0 0 0 / 0.10);
  --shadow: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 1px 2px -1px rgb(0 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 2px 4px -1px rgb(0 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 4px 6px -1px rgb(0 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px rgb(0 0 0 / 0.10), 0 8px 10px -1px rgb(0 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px rgb(0 0 0 / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

